---
import { fetchStrapiGraphQL } from '../../lib/strapi';
import type { InfluencerResponse, Influencer } from '../../interfaces/influencer';
import Default from '../../layouts/Default.astro';

const GET_INFLUENCERS = `query Influencers {
  influencers {
    site_code
    title,
    slug
  }
}`;

const { influencers } = await fetchStrapiGraphQL<InfluencerResponse>({ query: GET_INFLUENCERS })
---

<Default>
  <ul>
    {
      influencers.map((influencer: Influencer) => (
        <li>
          <a href={`/inf/${influencer.slug}/`}>
            {influencer.title} - {influencer.site_code}
          </a>
        </li>
      ))
    }
  </ul>
</Default>