---
export const partials = true;
---

<article class="flex max-w-xl flex-col items-start">
  <div class="flex items-center gap-x-4 text-sm mb-1 w-full justify-between">
    <time datetime="2025-04-10T07:21:59.141Z" class="text-gray-500"
      >10 Apr, 2025</time
    >
    <a
      href="#"
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >news</a
    >
  </div>
  <div class="group relative w-full">
    <a
      href="/en/blog/best-practices-for-successful-prototypes"
      class="block article-image overflow-hidden h-[200px] relative"
      ><img
        class="absolute w-full h-full object-cover max-w-none hover:scale-110 transition-transform"
        src="http://localhost:1337/uploads/blogheaderdesign_f1bd3ff5_78b2d4f469.avif"
        alt=""
      /></a
    >
    <h3
      class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600"
    >
      <a href="/en/blog/best-practices-for-successful-prototypes"
        >Best practices for successful prototypes 1</a
      >
    </h3>
    <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">
      Flowbite is an open-source library of UI components built with the
      utility-fire bla bla
    </p>
  </div>
</article>

<article class="flex max-w-xl flex-col items-start">
  <div class="flex items-center gap-x-4 text-sm mb-1 w-full justify-between">
    <time datetime="2025-04-10T07:21:59.141Z" class="text-gray-500"
      >10 Apr, 2025</time
    >
    <a
      href="#"
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >news</a
    >
  </div>
  <div class="group relative w-full">
    <a
      href="/en/blog/best-practices-for-successful-prototypes"
      class="block article-image overflow-hidden h-[200px] relative"
      ><img
        class="absolute w-full h-full object-cover max-w-none hover:scale-110 transition-transform"
        src="http://localhost:1337/uploads/blogheaderdesign_f1bd3ff5_78b2d4f469.avif"
        alt=""
      /></a
    >
    <h3
      class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600"
    >
      <a href="/en/blog/best-practices-for-successful-prototypes"
        >Best practices for successful prototypes 2</a
      >
    </h3>
    <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">
      Flowbite is an open-source library of UI components built with the
      utility-fire...
    </p>
  </div>
</article>

<article class="flex max-w-xl flex-col items-start">
  <div class="flex items-center gap-x-4 text-sm mb-1 w-full justify-between">
    <time datetime="2025-04-10T07:21:59.141Z" class="text-gray-500"
      >11 Apr, 2025</time
    >
    <a
      href="#"
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >news</a
    >
  </div>
  <div class="group relative w-full">
    <a
      href="/en/blog/best-practices-for-successful-prototypes"
      class="block article-image overflow-hidden h-[200px] relative"
      ><img
        class="absolute w-full h-full object-cover max-w-none hover:scale-110 transition-transform"
        src="http://localhost:1337/uploads/blogheaderdesign_f1bd3ff5_78b2d4f469.avif"
        alt=""
      /></a
    >
    <h3
      class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600"
    >
      <a href="/en/blog/best-practices-for-successful-prototypes"
        >Best practices for successful prototypes 3</a
      >
    </h3>
    <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">
      Flowbite is an open-source library of UI components built with the
      utility-firebase
    </p>
  </div>
</article>
