<footer class="footer">
  <div class="container mx-auto">
    <div class="footer-top">
      <div class="footer-logo"><img src="https://d1t11jpd823i7r.cloudfront.net/influencer/ELSA.svg" alt="" /></div>
      <div class="footer-download">
        <h3 class="footer-title">Download the ELSA Speak App</h3>
        <ul class="elsa-apps">
          <li><a href="#"><img src="https://d1t11jpd823i7r.cloudfront.net/new-inf/Appstore2.png" alt="" /></a></li>
          <li><a href="#"><img src="https://d1t11jpd823i7r.cloudfront.net/new-inf/GooglePlay2.png" alt="" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bot">
    <div class="container mx-auto">
      <div class="copyright">Copyright ©2025 ELSA. All Rights Reserved</div>
      <ul class="socials">
        <li><a href="#"><img src="https://d1t11jpd823i7r.cloudfront.net/new-inf/Facebook.svg" alt="" /></a></li>
        <li><a href="#"><img src="https://d1t11jpd823i7r.cloudfront.net/new-inf/Instagram.svg" alt="" /></a></li>
        <li><a href="#"><img src="https://d1t11jpd823i7r.cloudfront.net/new-inf/Twitter.svg" alt="" /></a></li>
        <li><a href="#"><img src="https://d1t11jpd823i7r.cloudfront.net/new-inf/Youtube.svg" alt="" /></a></li>
      </ul>
    </div>
  </div>
</footer>
<style>
  .footer {
    background: #1D1961;
    color: #fff;
    padding-top: 30px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-title {
    margin: 0 0 10px;
    text-align: right;
    font-size: 18px;
  }

  .elsa-apps {
    display: flex;
    gap: 0 20px;
    margin: 0;
  }

  .elsa-apps a {
    display: block;
  }

  .elsa-apps a img {
    display: block;
    height: 45px;
    width: auto;
  }

  .footer-bot {
    background: rgba(18, 17, 49, 0.90);
    padding: 20px 0;
    color: #fff;
  }

  .footer-bot .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-bot .socials {
    display: flex;
    gap: 0 10px;
  }

  .footer-bot :is(.copyright, .socials) {
    margin: 0;
  }
</style>