body {
  background: #1e1a61;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.pricing-section {
  padding: 20px 0;
  margin-top: 30px;
}

.pricing-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 30px;
}

.pricing-box {
  margin-bottom: 20px;
  background: rgba(255 255 255 / 10%);
  border-radius: 10px;
  padding: 15px;
  flex: 0 0 31%;
  max-width: 31%;
}

.pricing-box--featured {
  background: linear-gradient(0deg, #FC2AC2 -43.11%, #FFB84E 153.97%);
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 2.2em;
  width: fit-content;
  margin: auto;
  padding: 10px 50px;
  border: none;
  background: linear-gradient(314deg, #713FF4 0%, #CD55FF 100%);
  color: white;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
  height: 62px;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}