.section-feedback {
  padding: 50px 0;
}

.section-feedback .section-title {
  margin-bottom: 40px;
  text-align: center;
}

.feedback-list {
  display: flex;
  justify-content: space-between;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 47%;
  background: #29266F;
  border-radius: 20px;
  padding: 30px;
}

.icon-quote {
  display: block;
  text-align: center;
}

.feedback-item .description {
  font-size: 20px;
  text-align: center;
}

.profile-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

.profile-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;top: 0;
  left: 0;
}

.feedback-item :is(.name, .desig) {
  text-align: center;
}

.feedback-item .name {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 6px;
}

.feedback-item .desig {
  margin: 0;
  text-align: center;
  opacity: 0.6;
}