---
const { title, description } = Astro.props;
---

<section class="section-hero">
  <div class="container">
    <div class="logo"><img src="https://d1t11jpd823i7r.cloudfront.net/influencer/ELSA.svg" alt=""></div>
    <h1 class="title">{ title }</h1>
    <p class="description">{ description }</p>
  </div>
  <slot />
</section>

<style>
  .section-hero {
    padding: 40px 0;
    text-align: center;
  }
  .logo {
    margin-bottom: 20px;
  }

  .description {
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.7;
  }

</style>