---
import '../../../styles/global.css';
import { fetchStrapiGraphQL } from '../../../lib/strapi';
import Default from '@layouts/Default.astro';
import Header from '@components/Header.astro';
import Sidebar from '@components/blog/Sidebar.astro';
import Footer from '@components/Footer.astro';
import { GET_ARTICLES } from '../../../queries/blog';
import type { Article, ArticleResponse } from 'src/interfaces/blog';
import type { Locale, LocaleResponse } from 'src/interfaces/locale';
import CardPost from '@components/blog/CardPost.astro';

const lang = Astro.currentLocale;

export const getStaticPaths = (async () => {
  const GET_LOCALES = `query I18NLocales {
    i18NLocales {
      code
    }
  }`;
  const locales = await fetchStrapiGraphQL<LocaleResponse>({
    query: GET_LOCALES,
  });
  if (locales.i18NLocales) {
    return locales.i18NLocales.map(( locale: Locale ) => ({
      params: {lang: locale.code}
    }));
  }
  return [];
});

const { articles } = await fetchStrapiGraphQL<ArticleResponse>({
  query: GET_ARTICLES,
  variables: {
    locale: lang,
    sort: 'createdAt:desc'
  }
});

---

<Default>
  <Header />
  <div class="container mx-auto my-10">
    <div class="grid grid-cols-4 gap-4">
      <aside class="col-span-1 px-3">
        <Sidebar content="" />
      </aside>
      <div class="col-span-3 px-3">
        <div class="bg-white">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">From the blog</h2>
              <p class="mt-2 text-lg/8 text-gray-600">Learn how to grow your business with our expert advice.</p>
            </div>
            <div class="mx-auto mt-5 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-6 border-t border-gray-200 pt-6 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            {
              articles.map((article: Article) => (
                <CardPost article={article} />
              ))
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Default>
<style>
  .article-image {
    height: 190px;
    overflow: hidden;
    position: relative;
  }
  .article-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>